<% content_for :page_title do %>
  <%= t('profiles.show.page_title') %>
<% end %>
<div class="min-h-screen">
  <div class="container mx-auto p-6">

    <%= render 'shared/navbar' %>

    <div class="card bg-base-100 border border-base-300 p-8 max-w-lg mx-auto">
      <div class="flex flex-col items-center">
        <% if @user.avatar.present? %>
          <%= image_tag "avatars/#{@user.avatar}", alt: t('profiles.edit.avatar_label'), class: "w-20 h-20 rounded-full mb-4" %>
        <% else %>
          <%= image_tag "avatars/default.png", alt: t('profiles.edit.avatar_label'), class: "w-20 h-20 rounded-full mb-4" %>
        <% end %>
        <%= t('profiles.show.user_name') %>: <%= @user.name %>

        <div class="mt-6">
          <%= link_to t('profiles.edit.page_title'), edit_profile_path, class: "btn btn-primary" %>
        </div>
      </div>
    </div>
  </div>
</div>