<div class="flex items-start gap-2">
  <%= render 'shared/icon', type: icon_type, size: 5, color: 'base-content/70' %>
  <% if content.is_a?(String) %>
    <p class="<%= local_assigns[:text_class] || 'text-sm' %>"><%= content %></p>
  <% else %>
    <div class="<%= local_assigns[:text_class] || 'text-sm' %>">
      <%= content %>
    </div>
  <% end %>
</div>
