<div class="mx-[5vw]">

  <%= stylesheet_link_tag 'fadein', media: 'all' %>

  <div class="mt-40">
    <h1 class="text-5xl font-bold fade-in-left block">
      <%= t('home.headline').html_safe %>
    </h1>

    <hr class="my-2">

    <p class="text-xl text-right fade-in-right">
      <%= t('home.subheadline') %>
    </p>
  </div>

  <div class="text-center fade-in-delay mt-30">
    <div class="flex flex-col items-center gap-4">
      <%= link_to t('home.start'), new_user_registration_path, class: "btn btn-lg w-60" %>
      <%= link_to t('home.login'), new_user_session_path, class: "btn btn-outline btn-lg w-60" %>
    </div>
  </div>

  <p class="fade-in-delay mt-30">
    <%= t('home.description').html_safe %>
  </p>

  <footer class="mt-20 mb-10 text-center">
    <div class="flex justify-center gap-4 text-sm">
      <%= link_to t('home.terms'), terms_path, class: "link link-hover" %>
      <span>|</span>
      <%= link_to t('home.privacy'), privacy_path, class: "link link-hover" %>
    </div>
  </footer>
</div>


