<!DOCTYPE html>
<html data-theme="sleep">
  <head>
    <title><%= content_for(:title) || "Sleep Summit" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>

    <script src="https://unpkg.com/phosphor-icons"></script>

  </head>

  <body class="pb-16 lg:pb-0 lg:pl-44">
    <%= render 'shared/flash' %>

    <div class="fixed inset-0 w-full h-full -z-10 pointer-events-none"
      style="background: url('<%= asset_path('bg-summit.svg') %>') center/cover no-repeat;">
    </div>

    <main>
      <div class="min-h-screen">
        <div class="container mx-auto p-6">
          <% if user_signed_in? %>
            <%= render 'shared/navbar' %>
          <% end %>
          <%= yield %>
        </div>
      </div>
    </main>

    <div class="hidden lg:block">
      <%= render 'shared/sidebar' %>
    </div>

    <%= render 'shared/footer_nav' %>
    <%= render 'shared/mobile_calendar_modal' %>
    <%= render 'shared/new_event_modal' %>
    <%= render 'shared/sleep_record_modal' %>
  </body>
</html>
